<div class="new-post">
 <h3>Create Post</h3>
 
   <div class="post-rules">
     <p>Post Guidelines</p>
     <ol>
       <li>"Title" => <strong>Location, Time, 5 word description</strong></li>
       <ul>
        <li class="post-rules-item"><em>- Eldridge Grade, 3:15pm (or 15:15), fireroad washed away near top </em></li>
       </ul>
       <li>"Body" => Describe the post topic in further detail.</li>
       <li>Please only state facts, please leave opinions to yourself.</li>
     </ol>
   </div>
   
   <div class="post-input">
     <%= form_for @post do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "type title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "type details" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'save-post-link' %>
       </div>
     <% end %>
   </div>

</div>